<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HOSPITAL-MANAGEMENT</title>
    <link rel="stylesheet" href="/css/searchresults.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <h1>Add User</h1>
    <div class="container">
      <form action="/admin" method="post">
        <div class="form-now">
          <div class="form-group col-md-6">
            <label>ID</label>
            <input type="text" class="form-control" name="userId" />
          </div>
          <div class="form-group col-md-6">
            <label>Room Number</label>
            <input type="text" class="form-control" name="roomNo" />
          </div>
        </div>
        <div class="form-now">
          <div class="form-group col-md-6">
            <label>Name</label>
            <input type="text" class="form-control" name="name" />
          </div>
          <div class="form-group col-md-6">
            <label>mobile Number</label>
            <input type="text" class="form-control" name="mobileNo" />
          </div>
        </div>
        <div class="form-now">
          <div class="form-group col-md-6">
            <label>Aadhar card</label>
            <input
              type="text"
              class="form-control"
              name="aadharNo"
              placeholder="1234xyz"
            />
          </div>
          <div class="form-group col-md-6">
            <label>Address</label>
            <input
              type="text"
              class="form-control"
              name="Address"
              placeholder="apartment, studio, or floor"
            />
          </div>
        </div>
        <div class="form-now">
          <div class="form-group col-md-6">
            <label>city</label>
            <input type="text" class="form-control" name="city" />
          </div>
          <div class="form-group col-md-6">
            <label>State</label>
            <input type="text" class="form-control" name="State" />
          </div>
          <div class="form-group col-md-6">
            <label>zip</label>
            <input type="text" class="form-control" name="zip" />
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Add</button>
      </form>
    </div>
  </body>
</html>
